*{
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon";
    box-sizing: border-box;
    }
    
body{
    background: #FF853F;
    background-image: url("images/leavesfalling.gif");
    background-size: cover;
}

.card{
    width: 90%;
    max-width: 650px;
    height: 525px;
    background-color: #222;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    justify-content: center;
}

.title {
    font-size: 70px;
    font-family: "Tilt Neon";
    font-weight: 500;
    color:#222;

}

.study-interval-card {
    display: inline-block;
    width: 180px; 
    height: 30px; 
    padding: 20px;
    margin-top: 40px;
    border: 4px solid #222;
    border-radius: 10px;
    transition: background-color 0.3s;
    text-align: center; 
    line-height: 5px; 
    color: #222;
    margin-right:11px;
    background-color: grey;
    
  }
  

  .study-interval-card:hover {
    background-color: #e36414; 
    color: white; 
    background-image: urL(images/leafgif.gif);
    background-size: 50%;

  }

  .timer-container{
    margin-top: 80px;
    font-size: 100px;
  }
  
 .button{

background-color: transparent;
border: none;
cursor: pointer;


 }

.button-card{
margin:0;
background-color: transparent;
border: none;
cursor: pointer;
font-size: 20px;
position: absolute;
display: block;
text-align: center;
top: 23.4%;
left: 56.7%;
width: 175px;
}

 .button:hover{
    color: white;
 }

 .button-card-focus{
    margin-bottom: 10px;
    background-color: transparent;
    width: 175px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
   display: block;
    top: 23.4%;
    left: 31%
    }

    .button-card-short-break{
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    display: block;
    width: 175px;
    border: none;
    top: 23.4%;
    left: 44.0%
    }

    .timer-container.playing {
      background-image: url(images/transparent-gif.gif);
      background-size: cover;
    }

.hidden {
  display: none;
}
 
  

 